.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.content {
  width: 100%;
  margin: auto;
  height: calc(100vh - 60px);
  overflow: hidden;
}
