:host {
  width:  100%;
  max-width: 960px;
  min-height: 54px;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 8px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
